<nav class="site-nav" aria-label="<%= t("nav.primary") %>">
  <ul class="site-nav__list" role="list">
    <li>
      <%= link_to t("nav.home"), root_path, class: nav_link_class(root_path) %>
    </li>

    <% if current_user.present? %>
      <% if submit_nav_visible? %>
        <li>
          <%= link_to t("nav.submit"), submit_path, class: nav_link_class(submit_path) %>
        </li>
      <% end %>
      <li>
        <%= link_to current_user.pseudonym, profile_path(current_user.pseudonym), class: nav_link_class(profile_path(current_user.pseudonym)) %>
      </li>
      <li>
        <%= button_to t("nav.sign_out"), sign_out_path, method: :delete, class: "site-nav__button", form: { data: { turbo: false } } %>
      </li>
    <% else %>
      <li>
        <%= link_to t("nav.sign_in"), sign_in_path, class: nav_link_class(sign_in_path) %>
      </li>
      <li>
        <%= link_to t("nav.sign_up"), sign_up_path, class: nav_link_class(sign_up_path) %>
      </li>
    <% end %>
  </ul>

  <% if current_user.blank? %>
    <p class="site-nav__note"><%= t("nav.availability_value") %></p>
  <% end %>
</nav>
